body {
    background-image: url(bg.png);
}

.gif-container {
    text-align: center;
}

/* From Uiverse.io by Gautammsharma */ 
.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.btn {
    text-align: center;
}

.popup-overlay {
  position: fixed; /* cover the viewport */
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  display: none; /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0,0,0,0.55); /* dim backdrop */
  padding: 20px; /* spacing around content on small screens */
  background-color: white;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  top: 30px;
  left: 120px;
  
}

.popup-overlay.active {
  display: flex; /* shown when .active is added */
}

/* Hide gif container when overlay is active */
.popup-overlay.active ~ .gif {
  display: none;
}

.vid {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  max-width: 720px;
  height: auto;
}

.video {
    width: 50%;
    height: 500px;
    border-radius: 10px;
}

.text {
    position: absolute;
    top: 50px;
    right: 770px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.text1 {
    position: absolute;
    top: 200px;
    right: 770px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.gif1 {
  position: absolute;
  float: right;
  right: 100px;
}